
# Monitors
set $monL HDMI-1
set $monM DP-0
set $monR HDMI-0

# Bind workspace to monitor
workspace $ws8 output $monL
workspace $ws9 output $monR

# Bind programs to workspace
assign [class="discord"] $ws9
assign [class="vncviewer"] $ws3

# fix screen layout
exec --no-startup-id xrandr --output HDMI-0 --mode 1920x1080 --pos 4593x0 --rotate normal --output DP-0 --primary --mode 2560x1080 --pos 1974x0 --rotate normal --output DP-1 --off --output DP-2 --off --output DP-3 --off --output HDMI-1 --mode 1920x1080 --pos 0x0 --rotate normal --output USB-C-0 --off
