################################################################################
#                                                                              #
#           Roach.config file for Roach specific customisation                 #
#                                                                              #
################################################################################

# https://fontawesome.com/v4/cheatsheet/
#    
set $ws1 "1:"
set $ws2 "2:"
set $ws3 "3"
set $ws4 "4:"
set $ws5 "5:"
set $ws6 "6:"
set $ws7 "7:"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10:0"


# Monitors
set $monL HDMI-1
set $monM DP-0
set $monR HDMI-0

# Bind workspace to monitor
# The first bound ws will open on
# that monitor at startup
workspace $ws2 output $monM
workspace $ws1 output $monM
workspace $ws3 output $monM
workspace $ws5 output $monL
workspace $ws4 output $monL
workspace $ws6 output $monR
workspace $ws7 output $monR

# Bind programs to workspace
assign [class="realvnc-vncviewer"] $ws3
assign [class="jetbrains-studio"] $ws3

# Focus on open
for_window [class=jetbrains-studio] focus
