set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6:"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"


# Monitors
set $monL HDMI-1
set $monM DP-0
set $monR HDMI-0

# Bind workspace to monitor
workspace $ws1 output $monM
workspace $ws2 output $monM
workspace $ws3 output $monM
workspace $ws5 output $monL
workspace $ws6 output $monR

# Bind programs to workspace
assign [class="discord"] $ws6
