################################################################################
#                                                                              #
#           Triss.config file for Triss specific customisation                 #
#                                                                              #
################################################################################

#    
set $ws1 "1:"
set $ws2 "2:"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10:0"


# bind program to workspace and focus to them on startup:
# assign [class="kitty"] $ws1
assign [class="realvnc-vncviewer"] $ws3
assign [class="jetbrains-studio"] $ws3


# automatic set focus new window if it opens on another workspace then the current:
# for_window [class=kitty] focus
#for_window [class=Thunar] focus

# Autostart programs
exec --no-startup-id libinput-gestures-setup start
